<head>
    <link rel="stylesheet" href="/index.css">
</head>
<%if(locals.folder && locals.user){%>
    <body class="user-logged-body">
    <header>
        <h1>File uploader</h1>
        <%if (folder.parentFolderId === null){%>
            <a href="/">Back</a>
        <%}else{%>
            <a href="/folder/<%=folder.parentFolderId%>">Back</a>
        <%}%>
        <h2><%=user.name%>/<%=folder.name%></h2>
    </header>
    <div class="sidebar">
            <%-include('partials/newFolderForm', {folderId: folder.id})%>
        </div>
    </div>
    <main>
        <%if(locals.folders && locals.folders.length > 0){%>
            <h2>Your folders</h2>
                <div class="folder-div">    
                    <%folders.forEach(function(folder){%>
                        <a href="/folder/<%=folder.id%>" class="folder">
                            <img src="../assets/imgs/icons/folder-icon.png" alt="icon of a folder">
                            <h4><%=folder.name%></h4>
                        </a>    
                            <form action="/folder/delete-with-files/<%=folder.id%>" method="post">
                                <button class="delete-folder">delete</button>
                            </form>
                        
                    <%})%>
                </div>    
        <%}if(locals.files && locals.files.length > 0){%>
            <h2>Your files</h2>    
            <ul>
                <%files.forEach(function(file){%>
                    <li class="file"><%=file.name%></li>
                <%})%>
            </ul>
        <%}else{%>
            <h1>This folder is currently empty</h1>
        <%}%>
    </main>
</body>
<%}else{%>
    <h1>Log in to upload files</h1>
<%}%>
