<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" href="/index.css">
</head>
    <%if(locals.user){%>
    <body class="user-logged-body">
        <header>
            <h1>File uploader</h1>
            <h2>Your unit</h2>
        </header>
        <div class="sidebar">
            <div class="log-info">
                <h1>Welcome <%=user.name%><h1>
                <a href="/log-out">Log Out</a>
            </div>
            <div class="file-form">
                <button class="create-folder">New Folder</button>
                <form action="/user-file/1" method="POST" enctype="multipart/form-data">
                    <label for="fotis">Upload a file</label>
                    <input type="file" name="fotis" required>
                    <button>confirm ✔</button>
                </form>
                <div id="overlay"></div>
                <form action="/folder/new-folder" method="POST" id="new-folder-form">
                    <label for="folderName">Newerino folderino</label>
                    <input type="text" name="folderName" id="folderName" required>
                    <button id="close-form">Close</button>
                    <button>Create</button>
                </form>
            </div>
        </div>
        <main>
            <%if(locals.folders && locals.folders.length > 0){%>
                <h2>Your folders</h2>
                    <div class="folder-div">    
                        <%folders.forEach(function(folder){%>
                            <a href="/folder/<%=folder.id%>" class="folder">
                                <img src="assets/imgs/icons/folder-icon.png" alt="icon of a folder">
                                <h4><%=folder.name%></h4>
                            </a>
                            <form action="/folder/delete/<%=folder.id%>" method="POST">
                                <button class="delete-folder">Delete</button>
                            </form>
                        <%})%>
                    </div>    
            <%}if(locals.files && locals.files.length > 0){%>
                <h2>Your files</h2>
                    <div class="files-div">    
                        <%files.forEach(function(file){%>
                            <a href="/user-file/serve/<%=file.id%>" class="file">
                                <img src="../assets/imgs/icons/file-icon.png" alt="icon of a file">
                                <h4><%=file.name%></h4>
                            </a>
                            <form action="/user-file/delete/<%=folder.id%>/<%=file.id%>/<%=file.name%>" method="post">
                                <button class="delete-file">delete</button>
                            </form>
                        <%})%>
                    </div>
            <%}if(locals.files.length < 1 && locals.folders.length < 1){%>
                <h1>Your files and folders are going to appear here</h1>
            <%}%>
        </main>
    </body>
    <%}else{%>
    <body>
        <div class="login-div">
            <h1>Log in!</h1>
                    <form action="/log-in" method="POST">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="email" />
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" />
                        <button>Log In</button>
                    </form>
                    <a href="/sign-up">Create an account</a>
                    <div class="sign-up-container">
                        <div class="sign-up">
                            <h1>Sign up</h1>
                            <form action="/sign-up" method="POST">
                                <label for="name">Name:</label>
                                <input type="text" name="name" id="name" required>
                                <label for="email">E-Mail:</label>
                                <input type="email" name="email" id="email" required>
                                <label for="password">Password:</label>
                                <input type="password" name="password" id="password">
                                <label for="confirm-password">Confirm password:</label>
                                <input type="password" name="confirm-password" id="confirm-password">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
        </div>
    </body>
    <%}%>
    <script>
        function newFolderHandler(){
            const newFolderButton = document.querySelector('.create-folder');
            const overlay = document.getElementById('overlay');
            const newFolderForm = document.getElementById('new-folder-form');
            const closeButton = document.getElementById('close-form')

            newFolderButton.addEventListener('click', () => {
                newFolderForm.setAttribute('pressed', true);
                overlay.style.visibility = 'visible';
                overlay.style.opacity = '1';
                document.body.style.overflow = 'hidden'
            });

            closeButton.addEventListener('click', (e) => {
                overlay.style.visibility = 'hidden';
                overlay.style.visibility = '0';
                document.body.style.overflow = 'auto';
                newFolderForm.removeAttribute('pressed')
                e.preventDefault();
            })
        }
        
        function doubleClickFolderHandler(){
            const folder = document.querySelectorAll('a.folder');
            let counter = 0;
            folder.forEach((folder) => {
                folder.addEventListener('click',(e) => {
                    counter++;
                    setTimeout(() => {
                            counter = 0;
                    },250);
                if(counter < 2){
                    e.preventDefault()
                };
                console.log(counter)
                })
            })
        }
        doubleClickFolderHandler();
        newFolderHandler(); 
    </script>
</html>